<h2>{{ title }} tanuló adatai:</h2>
<ul class="list-group">

  {{#each student}}
  <table class="table table-striped">
    <p>
      <li class="list-group-item text-center">
        Név: {{ firstName }} {{ lastName }}
      </li>
      <li class="list-group-item text-center">
        Születési hely: {{ birthPlace }}
      </li>
      <li class="list-group-item text-center">
        Születési dátum: {{ birthDate }}
      </li>
      <li class="list-group-item text-center">
        Anyja neve: {{ nameOfMother }}
      </li>
      <li class="list-group-item text-center">
        E-mail címe: {{ email }}
      </li>
      <li class="list-group-item text-center">
        Telefonszáma: {{ telephoneNumber }}
      </li>
      <li class="list-group-item text-center">
        {{ postCode }} {{ city }}
      </li>
      <li class="list-group-item text-center">
        Cím: {{ address }}
      </li>
      <li class="list-group-item text-center">
        {{ image }}
      </li>
      </a>
    </p>
  </table>
  {{/each}}

</ul>

{{!-- <form action="/students" class="form" method="POST">
  <div class="form-group">
    <label for="title">Vegyen fel új tanulót az osztályba:
    </label>
    <input type="text" class="form-control" name="newStudent" id="newStudent"
      placeholder="Kérem írja be az új tanuló nevét!">
  </div>
  <button type="submit" class="btn btn-default btn-success">Új tanuló létrehozása</button>
</form> --}}